@charset "UTF-8";

html {
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Oxygen";
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb{
    background:#7c3792 ;
}

body::-webkit-scrollbar-track {
    background: #a87bb7;
}

.clearfix::after, .row::after {
    content: " ";
    display: block;
    clear:both;
}

.maxwidth {
    max-width: 1124px;
    margin: 0 auto;
}

.button {
    display: inline-block;
    padding: .9em 2.8em;
    background: #68c4c4;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    transition: background .3s;
}

.button:hover {
    background: #37a0a0;
}

.icon-play {
    height: 5em;
    display: none;
}

.icon-play img {
    max-width: 100%;
    max-height: 100%;
}

.top-header{
    text-align: center;
}

.top-header-logo {
    margin: .5em;
}

.top-nav {
    background: #612674;
    text-align: center;
}

.top-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.top-nav a {
    color: #fff;
    text-decoration: none;
    padding: 1em;
    display: block;
    transition: background .3s;
}

.top-nav a:hover{
    background: #7c3792;
}

.top-nav li:first-of-type{
    padding-top: 20px;
}

.top-nav li:last-of-type {
    padding-bottom: 20px;
}

.top-content {
    padding: 1em;
    text-align: center;
    background: #f6f6f6;
}

.top-content-title {
    color: #612674;
    font-size: 1.375em;
    margin: 1.375em;
}

.top-content-subtitle {
    color: #a87bb7;
    font-size: 1em;
    line-height: 1.7em;
}

.middle-content {
    padding: 2em;
    background: #f6f6f6;
    text-align: center;
}

.middle-content-title {
    font-size: 1.25em;
    color: #652e79;
    text-transform: uppercase;
}

.middle-content p {
    line-height: 1.5em;
    color: #334;
}

.main-content {
    padding: 2em;
}

.main-content p {
    line-height: 1.2em;
}

.main-content-article {
    margin-bottom: 3em;
}

.main-content-title {
    font-size: 1.25em;
    color: #652e78;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.hidden {
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    display: block;
}

.footer {
    background: #25303e;
    color: #83969f;
    text-align: center;
    padding-bottom: 2em;
}

.footer-menushare {
    background: #303d4c;
    padding: .5em;
}

.footer-menushare li {
    display: inline-block;
    margin: 0 1em;
}

.footer-menushare a {
    font-size: 1.1em;
    text-decoration: none;
    color: #fff;
}

@media screen and (min-width: 48.75em) {
    
    .top-header-logo {
        float: left;
    }

    .icon-play {
        display: block;
    }

    .top-nav {
        background: transparent;
        float: right;
    }

    .top-nav ul {
        margin: 0;
        padding: 0;
    }

    .top-nav li {
        display: inline-block;
    }
    
    .top-nav a{
        color: #713a84;
        margin-top: 0;
        font-weight: bold;
    }

    .top-nav a:hover {
        background:#e7d9fc;    
    }

    .top-content {
        background: #521a66;
    }
    
    .top-content-title, .top-content-subtitle {
        color: #fff;
    }

    .col-1-4 {
        width: 44%;
        margin: 3%;
        float: left;
    }

    .main-content-article .button {
        float: right;
    }
}

@media screen and (min-width: 62.5em){

    .top-content {
        background:#521a66 url(../images/bg_topo_1198x670.jpg) no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: 40em;
        padding-top: 17em;
        box-sizing: border-box;
    }
}

@media screen and (min-width: 74em) {
    .icon-play {
        height: 7em;
    }

    .top-content {
        background-image: url(../images/bg_topo_1600x1374.jpg);
        background-size: cover;
        background-position: center;
        padding: 19em 12em 10em;
    }

    .col-1-4 {
        width: 23%;
        margin: 1%;
    }

    .col-1-2 {
        float: left;
        width: 48%;
        margin: 1%;
    }

    .main-content-article .button {
        float: none;
    }
}